{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-green-400 to-blue-600 p-6">
  <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-8 text-center">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">{% trans "Change Password" %}</h1>
    <p class="text-gray-900 text-2xl ">{% trans "Your password is now changed." %} </p>
    <a href="/accounts/login"><p class="text-blue-900 text-xl font-semibold"> Click here to login </p></a>
  </div>
</div>
{% endblock %}
